name: CI

on: [push]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: php-actions/composer@v6
        with:
          php_version: 8.1

      - name: PHPUnit
        uses: php-actions/phpunit@v3
        with:
          version: 9.6.5
          php_version: 8.1
          configuration: homework_1/phpunit.xml
          memory_limit: "256M"